/*Grabbed code from https://stackoverflow.com/questions/9100344/pure-css-multi-level-drop-down-menu and tweaked it.*/

.top-level-menu {
    list-style: none;
    margin: 1em;
}

.top-level-menu > li {
    position: relative;
    float: left;
    height: 2.5em;
    width: 14em;
    background-image: linear-gradient(#000000, #000000, #000000, #242424);
    border-bottom: 1px solid #ccc;
}

.top-level-menu > li:hover {
    background-image: linear-gradient(#000000, #000000, #000000, #242424);
}

.top-level-menu li:hover > ul {
    /* On hover, display the next level's menu */
    display: inline;
    border: 1px solid #ccc;
    z-index: 1;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font-size: 1.0em;
    font-weight: 300;
    color: #cccdc6;
    text-decoration: none;
    padding-left: .5em;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 1.4em;
}

.top-level-menu a:hover {
    color: #ffffff;
}


.second-level-menu {
    position: absolute;
    top: 2.0em;
    left: 0em;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-image: linear-gradient(#000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #242424);
}

.second-level-menu > li {
    position: relative;
    height: 1.5em;
}

.second-level-menu > li:hover {
    background: #000000;
}


.third-level-menu {
    position: absolute;
    top: 0em;
    left: 10em;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li {
    height: 1.5em;
    background: #000000;
}

.third-level-menu > li:hover {
    background: #000000;
}
