html{
    background: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

div {        
    max-width: 500px;
    margin: auto;																
    padding: 10px;
/*    border: 1px dashed;*/
    margin-top: .5em;
}